
::-webkit-scrollbar{
  width:2px;
  height:2px;
}
::-webkit-scrollbar-button{
  width:2px;
  height:2px;
}
.movie-list-item{
  margin-right: 1rem;
  cursor: pointer;
  transition: all 480ms;
}

.movie-list-item img{
  max-height: 24rem;
  max-width: 25rem;
  height: 100%;
  width: 100%;
}

.movie-list-item:hover{
  transform: scale(1.08);
}

.movie-list-item img{
  width: 20rem;
}
.movie-list-item.selected {
  text-decoration: underline;
}
